a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}body,html{font-size:16px;background-color:#f5f5f5;color:#4c4c4c;font-family:Avenir-Book,Helvetica,Arial,sans-serif;width:100%;overflow-x:hidden;line-height:1}

/*Font Family Import*/
@font-face {
	font-family: Johnston;
	src: url("../fonts/P22JohnstonUnderground.ttf");
}

/*Font Styles*/
h1,h2,h3,h4,h5,h6, .linkbox span, nav, .mobiletoggle, .logo, #saveForm {
	font-family: 'Johnston', 'Avenir', helvetica, arial, sans-serif;
}

h1,h2,h3 {
	text-transform: uppercase;
	color: #455561;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	line-height: 1.6;
	margin: 0 0 25px 0;
}

a {
	color: #4b768a;
}

nav a, nav, .mobiletoggle, .logo {
	text-transform: uppercase;
	color: #f5f5f5;
	text-decoration: none;
	font-size: 1.5rem;
}

.sub a{
	font-size: 1rem;
}

.copy p:last-of-type {
	margin: 0;
}

/*Initial Styles*/
body, html {
	font-size: 16px;
	font-family: 'Avenir', helvetica, arial, sans-serif;
	background: #f5f5f5;
	color: #4c4c4c;
}

/*Flex*/

.main, .content, .holder, footer, header, .menu, .menulist, .flex, form {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.class, .holder, .columns, form {
	justify-content: space-between;
}

.main {
	flex-flow: column wrap;
	width: 100vw;
	align-items: center;
	padding: 50px 0;
}

.maxw {
	max-width: 300px;
}

/*Header and Footer Styles*/
header, footer {
	background: #455561;
	color: #ffffff;
	padding: 25px 0;
	position: relative;
	z-index: 50;
	align-items: center;
}

header {
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

footer {
	padding: 25px 0;
	z-index: 5;
}

footer .maxw {
	justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;
	width: 100%;
}

footer span {
	margin: 0 0 25px;
}

footer .holder {
	width: auto;
}

/*Menu Styles*/

nav li {
	list-style: none;
	position: relative;
	z-index: 25;
}

.mobiletoggle, .logo {
	position: relative;
	z-index: 50;
	cursor: pointer;
}

.logo {
	display: flex;
	flex-flow: row wrap;
}

.logo span:first-of-type {
	color: #00bbff;
}

.menu {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	min-height: 100vh;
	margin-top: -101vh;
	transition-duration: 0.5s;
}

.active {
	margin-top: 0;
	transition-duration: 0.5s;
}

.menu:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100vw;
	z-index: 10;
	background: #000000;
	opacity: 0.7;
}

.menulist {
	align-items: flex-start;
}

.top {
	width: 100%;
}

.top a {
	padding: 15px 30px;
	display: block;
	text-align: center;
	overflow: hidden;
}

.sub a {
	padding: 10px 30px;
}

/*Hero Styles*/

.hero {
	background-size: cover;
	background-position: center center;
}

.hero h1 {
	font-size: 4rem;
	color: #ffffff;
}

.hero p {
	font-style: italic;
}

.hero, .hero .holder {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: calc(100vh + 1px);
	color: #ffffff;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.downward {
	border: 2px solid #ffffff;
	width: 30px;
	height: 55px;
	border-radius: 20px;
	display: flex;
	color: #f5f5f5;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto 50px;
	font-size: 2rem;
	animation: 3s fade2 linear 1;
}

.downward:after {
	content: '•';
	display: flex;
	justify-content: center;
	color: #f5f5f5;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0px;
	font-size: 2rem;
	animation: 3s ease-in-out infinite move;
}

@keyframes move {
  0% {margin-bottom: 30px; opacity: 0;}
  50% {margin-bottom: 0px; opacity: 1;}
  100% {margin-bottom: 30px; opacity: 0;}
}

/*Body Styles*/
.content {
	width: 100%;
}

.sectionSep {
	width: 85%;
	height: 1px;
	background: #cccccc;
	margin: 50px 0;
}

.holder {
	width: 100%;
}

.linkbox {
	margin: 25px 0 0;
	background: #4b768a;
	text-decoration: none;
	color: #ffffff;
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 150px;
}

.linkbox img {
	width: 100%;
	opacity: 1;
	transition-duration: 0.3s;
	position: relative;
	z-index: 5;
}

.linkbox:hover img {
	opacity: 0.1;
	transition-duration: 0.3s;
}

.linkbox span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 180px;
	margin-top:-175px;
	margin-left: -100%;
	transition-duration: 0.3s;
	color: #ffffff;
	position: relative;
	z-index: 7;
	font-size: 1.5rem;
}

.linkbox:hover span {
	margin-left: 0;
	transition-duration: 0.3s;
}

form {
	width: 100%;
}

input {
	width: 100%;
	padding: 15px;
}

input:first-of-type {
	margin: 0 0 25px;
}

textarea {
	width: 100%;
	padding: 15px;
	margin: 25px 0;
	font-family: 'Avenir', arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.6;
}

#saveForm {
	background: #4c4c4c;
	color: #f5f5f5;
	border: 0;
	margin: 0 auto;
	padding: 25px 0;
	border-radius: 50px;
	transition-duration: 0.3s;
	text-transform: uppercase;
	font-size: 1.2rem;
}

#saveForm:hover {
	background: #4b768a;
	transition-duration: 0.3s;
}

/*Slider Styles*/
.sss {
	height: 50vh;
	margin: 0; 
	padding: 0!important;
	position: relative;
	display: block;
	overflow: hidden;
}

.homepage .sss {
	height: calc(100vh + 1px);
	margin: 0; 
	padding: 0!important;
	position: relative;
	display: block;
	overflow: hidden;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('../images/images/arr.png') no-repeat;
	display: none;
}

.sssprev {
	left: 3%;
	background-position: 0 50%;
}

.sssnext {
	right: 3%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}

/*Gallery Styles*/
.quarter, .gallery {
		width: 100%!important;
	}

.quarter {
	margin: 0 0 50px;
}

@media only screen and (min-width: 768px) {
	.maxw {
		max-width: 700px;
	}
	
	input {
		width: calc(48% - 30px);
	}
	
	input:first-of-type {
		margin: 0;
	}
	
	.linkbox {
		width: 30%;
		height: 110px;
	}

	.linkbox span {
		margin-top:-150px;
	}
	
	footer .maxw {
		flex-flow: row wrap;
	}

	footer span {
		margin: 0;
	}
	
}

@media only screen and (min-width: 1200px) {
	.maxw {
		max-width: 1200px;
	}
	
	.top {
		width: auto;
	}
	
	.top a:hover {
		color: #ffffff;
	}

	.top a:after {
		content: '';
		display: block;
		width: 0%;
		height: 1px;
		background: #ffffff;
		transition-duration: 0.3s;
		margin: 2px auto 0;
	}

	.top a:hover:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #ffffff;
		transition-duration: 0.3s;
		margin: 2px auto 0;
	}
	
	.linkbox {
		height: 180px;
	}

	.linkbox span {
		margin-top:-190px;
	}
	
	/*Gallery Styles*/
	.quarter {
		width: 25%!important;
	}

	.gallery {
		width: 70%!important;
	}
}